.Home-Title {
    position: absolute;
    left: 153px;
    top: 65px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

.Buttons-List {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;

    position: absolute;
    width: 342px;
    height: 160px;

    background: #90FF1A;
    border-radius: 32px;
    border: none;
}

.List-User {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 342px;
    height: 501px;
    left: 24px;
    top: 183px;
    overflow-y: scroll;
}

.Buttons-List-History {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;

    position: absolute;
    width: 342px;
    height: 160px;
    top: 190px;

    background: #90FF1A;
    border-radius: 32px;
    border: none;
}

#overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 342px;
    height: 620px;
    background: #3E8100;
}

#overlay h2 {
    position: absolute;
    width: 256px;
    height: 84px;
    left: 49px;
    top: 32px;

    width: 248px;
    height: 76px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
}

#label-Location {
    position: absolute;
    width: 161px;
    height: 20px;
    left: 20px;
    top: 144px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
}

#Lable-Eco {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 20px;
    top: 232px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}

#lable-Img {
    position: absolute;
    width: 120px;
    height: 19px;
    left: 21px;
    top: 319px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
}

#overlay input[type="text"] {
    position: absolute;
    width: 302px;
    height: 40px;
    left: 20px;
    top: 174px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}

#type {
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    gap: 190px;
  
    position: absolute;
    width: 302px;
    height: 40px;
    left: 20px;
    top: 261px;
  
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
  }


#overlay input[type="file"] {
    display: none;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 20px;
    top: 351px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#overlay button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#overlay button[type="submit"] {


    position: absolute;
    width: 302px;
    height: 63px;
    left: 20px;
    top: 442px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF;


    background: #4BCC3C;
    border-radius: 26px;
}

#overlay button[type="button"] {
    position: absolute;
    width: 302px;
    height: 63px;
    left: 20px;
    top: 517px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF;


    background: #4BCC3C;
    border-radius: 26px;
}