.Welcome-Title {
    position: absolute;
    left: 19px;
    top: 65px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;

}

.Eco {
    color: #90FF1A;
}

.Spot {
    color: #004741;
}

.Form-Login {
    position: absolute;
    width: 342px;
    height: 307px;
    left: 24px;
    top: 141px;
}

.Form-Text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.From-Input {
    display: flex;
    flex-direction: row;

    width: 322px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 20px
}

.From-Input:placeholder {
    padding-left: 20px
}

.Error-Message {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;

    color: #ff0000;
}

.Google-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 342px;
    height: 40px;
    top: 513px;
    left: 24px;

    background: #F0F0F0;
    border-radius: 10px;
    border: none;
}

.Microsoft-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 342px;
    height: 40px;
    top: 557px;
    left: 24px;

    background: #F0F0F0;
    border-radius: 10px;
    border: none;
}

.Apple-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 342px;
    height: 40px;
    top: 601px;
    left: 24px;

    background: #F0F0F0;
    border-radius: 10px;
    border: none;
}

.Facebook-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 342px;
    height: 40px;
    top: 645px;
    left: 24px;

    background: #F0F0F0;
    border-radius: 10px;
    border: none;
}

.Button-Login-Screan {
    position: absolute;
    width: 322px;
    height: 63px;
    left: 24px;
    top: 728px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF;

    background: #4BCC3C;
    border-radius: 26px;
    border: none;
}

.Button-Login-Screan:hover {
    background: #8CCB85;
}

.Button-Login-Screan:active {
    background: #3E8100;
    ;
}