.Welcome-Title {
    position: absolute;
    left: 24px;
    top: 92px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

.Eco {
    color: #90FF1A;
}

.Spot {
    color: #004741;
}

.Form-Login {
    position: absolute;
    width: 342px;
    height: 178px;
    left: 24px;
    top: 302px;
}

.Form-Text {
    margin: 0;
    margin-bottom: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.From-Input {
    margin: 0;
    margin-bottom: 20px;
    width: 342px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}

.From-Input:placeholder {
    padding-left: 20px
}

.Error-Message {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;

    color: #ff0000;
}

.Button-Register-Screan {
    position: absolute;
    width: 342px;
    height: 63px;
    left: 24px;
    top: 652px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF;

    background: #4BCC3C;
    border-radius: 26px;
    border: none;
}

.Button-Login-Screan {
    position: absolute;
    width: 342px;
    height: 63px;
    left: 24px;
    top: 725px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF;

    background: #4BCC3C;
    border-radius: 26px;
    border: none;
}

.Button-Login-Screan:hover {
    background: #8CCB85;
}

.Button-Login-Screan:active {
    background: #3E8100;
    ;
}