.Start-Logo {
    position: absolute;
    width: 247px;
    height: 307px;
    top: 100px;
    left: 71px;
}

.Button-Login {
    position: absolute;
    width: 322px;
    height: 63px;
    left: 35px;
    top: 505px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF;

    background: #4BCC3C;
    border-radius: 26px;
    border: none;
}

.Button-Login:hover {
    background: #8CCB85;
}

.Button-Login:active {
    background: #3E8100;
    ;
}

.Button-Register {
    position: absolute;
    width: 322px;
    height: 63px;
    left: 32px;
    top: 624px;

    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF;

    background: #4BCC3C;
    border-radius: 26px;
    border: none;
}

.Button-Register:hover {
    background: #8CCB85;
}

.Button-Register:active {
    background: #3E8100;
    ;
}